@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-3 mb-4">Dobro došli na knjizevne kritike</h1>
            <p class="lead mb-4">
                Otkrijte, recenzirajte i razgovarajte o književnim delima sa drugim entuzijastima. <br/>
                Istražite našu kolekciju, podelite svoje misli i povežite se sa zajednicom!
            </p>
            <div class="mb-4">
                <a class="btn btn-primary btn-lg mx-2" href="/Recenzije/Index">Browse Reviews</a>
                <a class="btn btn-outline-secondary btn-lg mx-2" href="/Account/Register">Sign In</a>
            </div>
            <hr />
            <p>
                <small>
                    Learn more about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.
                </small>
            </p>
        </div>
    </div>
</div>
