@model KnjizevneKritikeApp.Models.Korisnik

@{
    ViewData["Title"] = "Registracija";
}

<h2>Registracija</h2>

<form method="post" asp-action="Register" novalidate>
    <div class="mb-3">
        <label asp-for="KorisnickoIme" class="form-label"></label>
        <input asp-for="KorisnickoIme" class="form-control" />
        <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Lozinka" class="form-label"></label>
        <input asp-for="Lozinka" class="form-control" type="password" />
        <span asp-validation-for="Lozinka" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PotvrdaLozinke" class="form-label"></label>
        <input asp-for="PotvrdaLozinke" class="form-control" type="password" />
        <span asp-validation-for="PotvrdaLozinke" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Registruj se</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
